/* Navigation bar inspired by w3schools https://www.w3schools.com/css/css_navbar_horizontal.asp */
.navbar {
  font-size: 2vw;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9dc0d1;
}

.navitem {
  float: center;
}

.navitem a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navitem a:hover {
  background-color: #88a6b5;
}
/* Navigation Bar */

h1 {
	margin-top: 0;
	margin-bottom: 0;
}

/* Title style inspired by w3schools 
https://www.w3schools.com/css/css_padding.asp */
.fullname {
	text-align: center;
	font-size: 5vw;
	background-color: #9dc0d1;
	color: #ffffff;
	padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 80px;
}
/* Title Style */

.welcome {
	font-style: italic;
	color: #4f5659;
	text-align: center;

/* Image gallery adapted from w3schools: CSS Image Gallery https://www.w3schools.com/css/css_image_gallery.asp */
