.title {
	color: red;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navitem {
  display: inline;
}

.fullname {
	text-align: center;
	background-color: #9dc0d1;
	color: white;
}
