/* SOURCE: Navigation bar inspired by w3schools https://www.w3schools.com/css/css_navbar_horizontal.asp */
.navbar {
  font-size: 2vw;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9dc0d1;
}

.navitem {
  float: center;
}

.navitem a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

.navitem a:hover {
  background-color: #88a6b5;
}
/* END SOURCE */

h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: georgia;
	text-align: center;
}

h2 {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	font-family: arial;
	
}

h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	font-family: arial;
	
}

h4 {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	font-family: arial;
	
	
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: justify;
	font-family: arial;
	
}

li {
	font-family: arial;

}

/* Source: Title style inspired by w3schools 
https://www.w3schools.com/css/css_padding.asp */
.fullname {
	text-align: center;
	font-size: 5vw;
	background-color: #9dc0d1;
	color: #ffffff;
	padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 80px;
}
/* End Source */

.welcome {
	font-style: italic;
	color: #4f5659;
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
} 
/* Source: Image gallery adapted from w3schools: CSS Image Gallery https://www.w3schools.com/css/css_image_gallery.asp */

div.gallery {
  border: 3px solid #ccc;
  background-color: #9dc0d1;
  color: #ffffff;
  font-family: Arial;
}

div.gallery:hover {
  border: 3px solid #777;
  background-color: #88a6b5;
  color: #ffffff;
  font-family: Arial;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* End Source */


/* SOURCE: Responsive columns from w3schools https://www.w3schools.com/css/tryit.asp?filename=trycss_website_layout_grid2 */
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left column */
.column.left {
  width: 20%;
}

/* Middle column */
.column.middle {
  width: 50%;

}

/* Right column */
.column.right {
  width: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/* End Source */

/* SOURCE: link button formatting https://www.w3schools.com/css/css_link.asp */

a.nevada:link, a.nevada:visited {
	background-color: #9dc0d1;
	color: #ffffff;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: arial;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	
}

a.tenerife:link, a.tenerife:visited {
	background-color: #9dc0d1;
	color: #ffffff;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: arial;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

/* END SOURCE */
